body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

input {
  width: 800px;
  height: 50px;
  outline: none;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.line {
  width: 800px;
  margin: 5px auto;
  border: 2px brown solid;
  display: flex;
  background-color: #f8efef;
  padding: 15px;
  gap: 20px;
}

.linebox {
  display: flex;
  gap: 2px;
  flex-direction: column;

  overflow: hidden;
  margin-bottom: 20px;
}
